:root {
    --primary-color: #990000;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body{
    min-height: 100vh;
    max-width: 100%;  
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

main {
    flex: 1;
}
/* navbar */

.navbar {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo-iu {
    height: 20px;
}

.iu-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 55px;
    font-weight: bold;
}

.iu-logo span {
    font-size: .5rem;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.lab-info h4{
    font-size: 1rem;
}

.lab-info span{
    font-size: .8rem;
}

.nav-items{
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 55px;
}


.nav-active {
    font-weight: bold;
    text-decoration: underline !important;
}

.nav-items a{
    font-size: .8rem;
    text-decoration: none;
    margin-left: 1rem;
}

.menu-hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}
/* =========================
   MOBILE NAV
========================= */
@media (max-width: 768px) {

    .navbar {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /* hide nav links */
    .nav-items {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        align-items: flex-start;
    }

    /* show when active */
    .nav-items.active {
        display: flex;
    }

    .nav-items a {
        margin: 10px 0;
        font-size: 1rem;
    }

    /* show hamburger */
    .menu-hamburger {
        display: block;
        margin-left: auto;
        padding: 10px;
    }

    .iu-logo {
        margin-left: 10px;
    }
}

/* SMALL SCREEN */
@media (max-width: 480px) {
    .lab-info span {
        display: none;
    }
}

/* Navbar end */


/* carousel */
.carousel {
    width: 100%;
    overflow: hidden;
    background: #f5f5f5;
}

.carousel-track {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
}

.slide {
    min-width: 300px;
    height: 150px;
    margin: 0 10px;
    background: #990000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 10px;
}

.carousel-item{
    position: relative;
    padding: 8px 4px;
}

.carousel:hover .carousel-track {
    animation-play-state: paused;
}

.carousel-item img{
    height: 400px;
    width: auto;
    object-fit: cover;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 200px;
        width: auto;
    }
    .carousel-caption {
        font-size: 0.8rem;
        padding: 5px;
    }
}

/* animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption a {
    color: white;
    text-decoration: none;
    margin: 0;
}

.carousel-caption span {
    text-decoration: underline;
}

/* carousel end */

/* about lab */
.about-lab {
    padding: 2rem;
    max-width: 80%;
    margin: 0 auto;
}

.about-container {
    display: flex;
    max-width: 2000px;
    margin: 0 auto;
}

.about-lab h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about-lab p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .lab-description {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

.lab-description {
    flex: 1;
    margin-right: 2rem;
}

@media (max-width: 768px) {
    .vision-list {
        padding: 1rem;
    }
}

.vision-list{
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
}

.vision-list li {
    font-weight: bold;
}

.vision-divider {
    height: 0.4px;
    background-color: #ccc;
    margin: 1rem 0;
}

/* about lab end */

/* Research area */
.research-area {
    background-color: #EDEBEB;
    width: 100%;
    padding: 2rem 11rem;
    box-sizing: border-box;
    margin: 0 auto;
}

.research-area .research-container {
    max-width: 2000px;
    margin: 0 auto;
}

.research-area .header {    
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.research-items {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    /* margin-right: auto; */
    margin-bottom: 1rem;
}

.research-item {
    width: 300px;
    margin-right: 3rem;
}

.research-items img {
    width: 120px;
    height: auto;
    border-radius: 10px;
}

.research-divider {
    height: 0.4px;
    background-color: #ccc;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .research-area {
        padding: 1rem;
    }

    .research-items {
        flex-direction: column;
        gap: 2rem;
    }

    .research-item {
        margin-right: 0;
        width: 100%;
    }
}

/* Research area end */

/* news section */
.news {
    padding: 2rem;
    width: 100%;
    padding: 2rem 11rem;
    box-sizing: border-box;
    margin: 0 auto;
}

.news-container{
    max-width: 2000px;
    margin: 0 auto;
}

.news .header {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.news-items {
    margin-right: auto;
    margin-bottom: 1rem;
}

.news-item {
    display: flex;
    border: 1px solid var(--primary-color);
    max-width: 100%;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

.news-items img {
    width: auto;
    object-fit: cover;
    height: 200px;
}

.news-divider {
    height: 0.4px;
    background-color: #ccc;
    margin: 1rem 0;
}

.news-content {
    padding: 2rem;
}


.news-content a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.news-content h2 {
    margin-top: 1rem;
}

.news-content a:hover {
    text-decoration: underline;
}

.news-content span {
    color: var(--primary-color);
    height: 0.4px;
    width:10px;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .news {
        padding: 1rem;
    }

    .news-item {
        flex-direction: column;
        margin-right: 0;
    }

    .news-items {
        gap: 2rem;
    }

    .news-items img {
        width: 100%;
        height: auto;
    }
}
/* news section end */



/* contact section */

.contact-lab {
    display: flex;
    justify-content: center;
    padding: 2rem;
    max-width: 100%;
    padding: 2rem 11rem;
    /* margin: 25vh auto; */
}

.contact-lab h2 {
    margin-left:auto;
    text-align: center;
    margin-bottom: 1rem;
}

.contact-lab p {
    text-align: center;
    margin-bottom: 1rem;
}

.contact-lab hr{
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-top: 0.4px solid #ccc;
    width: 50%;
}

.contact-info-person {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.contact-person-info span {
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
    .contact-lab {
        flex-direction: column;
        padding: 1rem;
    }

    .contact-info-person {
        flex-direction: column;
        gap: 1rem;
    }
}

/* contact section end */

/* research page */

.research {
    /* padding: 2rem;     */
    justify-content: center;
}

.research-container{
    padding: 2rem 1rem 1rem 0;
    justify-content: center;
    align-items: center;
    background-color: #EDEBEB;

}

.research-container h2{
    text-align: center;
}

.research-container p{
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.research-container hr {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-top: 0.4px solid #ccc;
    width: 50%;
    border-top: 0.4px solid var(--primary-color);
}

.research-projects {
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.research-project {
    max-width: 1400px;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 2rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 1rem;
}

.research-project h3 {
    margin-bottom: 0.5rem;
}

.research-project p {
    word-break: keep-all;
    overflow-wrap: normal;
    font-size: 1rem;
    line-height: 1.3;
}

.research-project h3{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--primary-color);
}

.research-project h3 a:hover {
    text-decoration: underline;
}

.research-projects hr {
    margin: .3rem 0;
    border: none;
    border-top: 0.4px solid #ccc;
}

.research-images img {
    height: 300px;
    width: auto;
}

.research-project-keywords {
    list-style: none;
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.research-project-keywords li {
    color: var(--primary-color);
    border-radius: 20px;
    margin-right: 0.5rem;
    border: 1px solid var(--primary-color);
    padding: 0.2rem 0.8rem;
    font-size: .8rem;
}

.section-img {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

@media (max-width: 768px) {
    .research-container {
        padding: 1rem;
    }

    .research-project {
        padding: 1rem;
    }

    .research-projects {
        gap: 2rem;
    }

    .research-images img {
        width: 90vw;
        height: auto;
    }

    .research-project-keywords {
        flex-wrap: wrap;
        justify-content: center;
    }

    .research-project-references {
        flex-direction: column;
        padding: 0 20px;
        gap: 1rem;
    }

    .section-img {
        flex-direction: column;
        gap: 1rem;
    }
}
/* research page ends */

/* publications start */

.publication {
    /* padding: 2rem;     */
    justify-content: center;
}

.publication-container{
    padding: 2rem 1rem 1rem 0;
    justify-content: center;
    align-items: center;
    background-color: #EDEBEB;

}

.publication-container h2{
    text-align: center;
}

.publication-container p{
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.publication-container hr {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-top: 0.4px solid #ccc;
    width: 50%;
    border-top: 0.4px solid var(--primary-color);
}

.publication-projects {
    gap: 2rem;
    margin: 1rem 3rem;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.publication-project {
    padding-top:2rem;
    max-width: 1400px;
    height: 100%;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 2rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 1rem;
}

.publication-project h3 {
    margin-bottom: 0.5rem;
}

.publication-project p {
    word-break: keep-all;
    overflow-wrap: normal;
    font-size: 1rem;
    line-height: 1.3;
}

.publication-project h3{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--primary-color);
}

.publication-project h3 a:hover {
    text-decoration: underline;
}

.publication-projects hr {
    margin: .3rem 0;
    border: none;
    border-top: 0.4px solid #ccc;
}

.publication-project-keywords {
    list-style: none;
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.pub-view {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.pub-view:hover {
    text-decoration: underline;
}
.publication-project-keywords li {
    color: var(--primary-color);
    border-radius: 20px;
    margin-right: 0.5rem;
    border: 1px solid var(--primary-color);
    padding: 0.2rem 0.8rem;
    font-size: .8rem;
}

@media (max-width: 768px) {
    .publication-container {
        padding: 1rem;
    }

    .publication-projects {
        flex-direction: column;
        margin: 1rem 0;
        gap: 2rem;
    }

    .publication-project {
        padding: 1rem;
    }

    .publication-projects {
        gap: 2rem;
    }

    .publication-project-keywords {
        flex-wrap: wrap;
        justify-content: center;
    }

    .publication-project-references {
        flex-direction: column;
        padding: 0 20px;
        gap: 1rem;
    }
}

/* publications end */

/* people section start */

.people {
    /* padding: 2rem;     */
    justify-content: center;
}

.people-container{
    padding: 2rem 1rem 1rem 0;
    justify-content: center;
    align-items: center;
    background-color: #EDEBEB;
}

.people-container h2{
    text-align: center;
}

.people-container p{
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.people-main {
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.people-main-container {
    text-align: center;
    max-width: 1400px;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 2rem 2rem;
    gap: 1rem;
    border: 1px solid #ccc;
}

.people-group{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2rem;
}

.people-circle{
    background-color: var(--primary-color);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.people-professor-content-item{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

@media (max-width: 768px) {
    .people-container p{
        padding: 0 1rem;
    }
    .people-main-container {
        padding: 1rem;
    }

    .people-group {
        flex-direction: column;
        gap: 2rem;
    }
}

/* people end */

/* software section */

.software {
    /* padding: 2rem;     */
    justify-content: center;
}

.software-container{
    padding: 2rem 1rem 1rem 0;
    justify-content: center;
    align-items: center;
    background-color: #EDEBEB;
}


.software-container h2{
    text-align: center;
}

.software-container p{
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
}


.software-main {
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.software-main-container {
    text-align: center;
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    /* flex-direction: column; */
    margin-bottom: 1rem;
    padding: 2rem 2rem;
    gap: 7rem;
    border: 1px solid #ccc;
}

.software-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    .software-main-container {
        flex-direction: column;
        gap: 2rem;
    }
}
/* software section start */
/* footer begins */

footer {
    background-color: var(--primary-color);
    color: white;
    margin-top: auto;
    text-align: center;
    padding: 1rem;
}

footer p {
    font-size: 1rem;
    font-size : .8rem;
    justify-content: center;
    word-break: keep-all;
    overflow-wrap: normal;
    align-items: center;
}